body{
    background-image: url("./assets/bg-desktop.jpg");
    background-size: cover;
    font-family: "Roboto";
    font-size: 16px;
}


.container{
    width: 100%; 
    max-width: 588px;
    padding: 0 24px;
    margin: 0 auto;
    
    
}

#profile{
    text-align: center;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}

#profile img{
    width: 112px;
    height: 112px;
    border-radius: 100%;
    border: 1px solid white; 
    
}

#profile span{
    color: white;
}

.menu ul{
    list-style-type: none;
    padding: 0px;
}

.menu ul li{
    width: 100%;
    
    text-align: center;
    border: 1px solid white;
    border-radius: 6px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s ease;
}

.menu ul li a{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 12px;
    
}

.menu ul li:hover{
    background-color: white;

}

.menu ul li:hover a{
    color: black;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:12px;
    border-top-width: 1px;
    border-top-color:white;
    border-top-style: solid;
    width:100%;
    padding-top: 12px;
}
.social a{
    color: white; 
    font-size: 30px;
    text-decoration: none;
    transition: 0.2s ease;
    
}

.social a:hover{
    opacity: 0.5;
}